<div class="container">
  <div class="mt-5 d-flex">
    <div class="col-8">
      <%= image_tag(@poster, class: "img-fluid") %>
    </div>
    <div class="col-4">
      <h2 class="text-uppercase font-weight-bold"><%= @title %></h2>
      <p><%= @plot %></p>
      <p class="badge badge-primary badge-pill">Nota IMDB: <%= @rating %></p>
    </div>
  </div>
  <div class="d-flex flex-column">
    <% @streamings.each do |n| %>
      <div class="card">
        <%= image_tag(n[1], class:"card-img-top") unless n[1].nil? %>
        <div class="card-body">
          <h5 class="card-title"><%= n[0] %></h5>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Home page", root_path %>
</div>
<%#= if n[1] == nil %>
<%#= image_tag('https://cdn.questionpro.com/userimages/site_media/no-image.png', class:"card-img-top") %>
<%#= else %>
<%# end %>
